body {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
    color: #000000;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-header {
    margin-bottom: 60px;
}

.header-navigation-wrapper {
    background-color: #293449;
    min-height: 50px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation-title {
    display: block;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    background-color: #ee3643;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 13px;
    padding-bottom: 13px;
    align-self: center;
}

.site-navigation-search input {
    background-color: #293449;
    border: none;
    font: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    height: 50px;
    padding-left: 50px;
    width: 270px;
    box-sizing: border-box;
}

.site-navigation-search input::placeholder {
    font: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.navigaion-bookmark {
    display: block;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 44px;
    padding-right: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navigaion-cart {
    display: block;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 31px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navigation-order {
    display: block;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
    text-decoration: none;
    padding-left: 29.61px;
    padding-right: 29.61px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-bottom-wrapper {
    background-color: #f4f7f9;
}

.header-bottom-wrapper .container {
    display: flex;
    flex-wrap: wrap;
}

.header-company-info {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    margin-left: 53px;
}

.header-company-center {
    margin-left: 71px;
}

.header-company-center p:first-child {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
    width: 264px;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.header-company-center p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 0;
    margin-left: 10px;
}

.header-bottom-buttons {
    margin-left: 69px;
    margin-top: 21px;
}

.entrance-button {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    border: none;
    background-color: #ffffff;
    width: 120px;
    min-height: 45px;
    padding-left: 48px;
    margin-right: 10px;
}

.registration-button {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    border: none;
    background-color: #ffffff;
    width: 167px;
    min-height: 45px;
}

.h-bottom-list {
    background-color: #32425c;
    width: 960px;
    height: 55px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-evenly;
}

.h-bottom-item a {
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
}

.slider {
    display: flex;
    margin-bottom: 53px;
}

.main-slider-left {
    display: flex;
    flex-wrap: wrap;
}

.materials {
    background-color: #ffbf47;
    color: #ffffff;
    width: 300px;
    height: 123px;
    margin-right: 20px;
}

.materials h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 23px;
}

.materials a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e5ac40;
    margin-left: 23px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.instruments {
    background-color: #3bbce3;
    color: #ffffff;
    width: 300px;
    height: 123px;
}

.instruments h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 23px;
}

.instruments a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #35a9cc;
    margin-left: 23px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.slides {
    margin-top: 20px;
    width: 620px;
    height: 266px;
    position: relative;
}

.slides input[name="toggle"] {
    display: none;
}

.slide {
    height: 266px;
    display: none;
}

.slider-controls {
    width: 30px;
    height: 12px;
    position: absolute;
    top: 220px;
    left: 295px;
}

.slider-controls label {
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.slider-controls label[for="btn-2"] {
    left: 20px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #ff0000;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ff0000;

}

.slide h3 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 26px;
    padding-top: 27px;
}

.slide p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    padding-left: 26px;
}

.slide a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    margin-top: 120px;
    margin-left: 25px;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.arrow-left::before,
.arrow-left::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    top: 133px;
    left: 25px;
    cursor: pointer;
}

.arrow-left::before {
    transform: rotate(-45deg);
    top: 130px;
}

.arrow-left::after {
    transform: rotate(45deg);
    top: 142px;
}

.arrow-right::before,
.arrow-right::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    top: 133px;
    left: 578px;
    cursor: pointer;
}

.arrow-right::before {
    transform: rotate(45deg);
    top: 130px;
}

.arrow-right::after {
    transform: rotate(-45deg);
    top: 142px;
}


.first-slide {
    background-image: url(../img/slider-bg-1.jpg);
    background-repeat: no-repeat;
}

.second-slide {
    background-image: url(../img/slider-bg-2.jpg);
    background-repeat: no-repeat;
}

.main-slider-right {
    display: flex;
    flex-direction: column;
}

#btn-1:checked ~ #slide-1,
#btn-2:checked ~ #slide-2 {
    display: block;
}

.technic {
    background-color: #dc91d8;
    color: #ffffff;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.technic h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 23px;
}

.technic a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c682c2;
    margin-left: 23px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.discounts {
    background-color: #8ed78f;
    color: #ffffff;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.discounts h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 23px;
}

.discounts a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #80c180;
    margin-left: 23px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.delivery {
    background-color: #ffc047;
    color: #ffffff;
    width: 300px;
    height: 123px;
}

.delivery h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 23px;
}

.delivery a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e5ac40;
    margin-left: 23px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.products-hits-title {
    background-color: #f9f5f0;
    display: flex;
    margin-bottom: 20px;
}

.products-hits-title h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    margin-left: 30px;
}

.products-hits-title a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 11px;
    padding-bottom: 11px;
    align-self: center;
    margin-left: 373px;
    border-radius: 3pxАП;
}

.products-hits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.products-hits-list li {
    border: 1px solid #eaeaea;
    width: 220px;
    min-height: 318px;
}

.product-action-buy {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #63a63e;
    width: 135px;
}

.product-action-bookmark {
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.product-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

.old-price {
    color: #aaaaaa;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: line-through;
}

.product-price {
    background-color: #ee3643;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
}

.company-hits-title {
    background-color: #f9f5f0;
}

.company-hits-title h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.company-hits-title a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
}

.company-hits-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.company-hits-list li {
    border: 1px solid #eaeaea;
}

.advantages-wrapper {
    background-color: #f4f8f9;
}

.advantages-wrapper input[name="advantages"] {
    display: none;
}

.advantages-title {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.advantages-info {
    font-size: 16px;
    line-height: 18px;
}

.advantages-list {
    background-color: #32425c;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-list li label {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.advantages-blocks h3 {
    font-size: 32px;
    line-height: 32px;
    color: #32425c;
    text-transform: uppercase;
}

.advantages-blocks p {
    font-size: 16px;
    line-height: 18px;
}

.credit-advantage a {
    color: #ffffff;
    background-color: #ff5357;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.company-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.company-info-left p {
    font-size: 16px;
    line-height: 18px;
}

.transport-company-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.transport-company-list li {
    font-size: 18px;
    line-height: 20px;
}

.company-info-button {
    background-color: #ee3643;
    color: #ffffff;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.company-info-right p {
    font-size: 16px;
    line-height: 18px;
}

.contact-button {
    background-color: #ee3643;
    color: #ffffff;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-top-wrapper {
    background-color: #32425c;
}

.footer-title {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
}

.footer-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-navigation-item a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.footer-addres {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.category-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-category-item a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    text-decoration: none;
}

.footer-bottom-wrapper {
    background-color: #293449;
}

.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mailto-footer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.mailto-footer a {
    color: #ffd180;
    text-decoration: none;
}

.developer-footer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.developer-footer a {
    color: #ffd180;
    text-decoration: none;
}